<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/G11">G11</a></li>
	        		<li><a href="/G12">G12</a></li>
	        		<li><a href="/news">news</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vgogelescu@isa.nl">email</a></li>
	        		<li><a href="https://isanl.managebac.com">managebac</a></li>
				</ul>
			</footer>
		</body>
	</html>
